/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.form_box {
  width: 20vw;
  height: auto;
  border: 1px solid blue;
  margin-left: 2vw;
  margin-top: 2vw;
  float: left;
}

#case {
  background-image:url('');
  background-size: cover;
  background-position: center;
  height: 30vw;
  width: 30vw;
  border: 1px solid black;
  margin-top: 1vw;
  margin-left: 2vw;
  float: left;
}

.case_img {
  display: block;
  max-width: 100%;

}
